<div class="container-fluid">
    <h1>Bienvenido</h1>
    <p class="texto">En esta pagina, por un lado vas a poder ver una lista de todos los productos agregados hasta el momento. En "Productos"</p>
    <p class="texto">Y por otro lado tambien agregarlos/quitarlos mediante un formulario en tiempo real. En "Productos en tiempo real"</p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>